<div class="modal-header mx-auto">
    <h5 class="modal-title"><img class="rounded mx-auto d-block" src="https://ui-avatars.com/api/?size=150"></h5>
</div>
<div class="modal-body">
    <h3 class="text-center">{{ fromParent.title }}</h3>
    <h5 class="text-center" style="color: #909090">{{ fromParent.genres }}</h5>
    <p class="text-center">{{ fromParent.description }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
</div>